.btn {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  min-width: 150px;
  max-width: 200px;
  height: 64px;
  margin: 0 10px 50px;
  transition: background-color 0.2s ease;
  background-color: var(--mainColor);
  border: solid 1px white;
  border-radius: 8px;
  color: rgb(230, 233, 236);
  .name {
    // text-align: center;
    margin-left: 12px;
    font-size: 32px;
  }
  .logo {
    position: absolute;
    right: -20px;
    height: 64px;
  }
}
