:root {
  --color: rgb(75, 221, 30);
  // --bgImage: url(./assets/images/c15.jpg);
}

html {
  background-image: var(--bgImage);
  background-size: var(--bgScale);
  overflow: hidden;
  background-color: #000000;
}
