:root{
  --color: rgb(75, 221, 30);
  // --bgImage: url(./assets/images/c15.jpg)
}

html {
  overflow: hidden;
  background-image: var(--bgImage);
  background-size: var(--bgScale);

  background-color: #000000;
}
